<div *ngIf="author">
   <h2>{{author.firstName}} {{author.lastName}}</h2>
   <div class="form">
      <div>
         <label for="firstname">Fornavn</label>
         <input id="firstname" [(ngModel)]="author.firstName" placeholder="Fornavn">
      </div>
      <div>
         <label for="lastname">Efternavn</label>
         <input id="lastname" [(ngModel)]="author.lastName" placeholder="Efternavn">
      </div>
      <button (click)="save()">Gem rettelser</button>
      <a routerLink="/authors">Annuller</a>
   </div>
</div>